@import "tailwindcss";
/*noinspection CssInvalidAtRule*/
@theme {
  --color-primary: #8fc31f;
  --color-primary-dark: #6fa80c;
  --font-wide: "Fira Sans", sans-serif;
  --font-narrow: "Fira Sans Condensed", sans-serif;
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-300, currentColor);
  }
}
