extends ./_template/_base

block vars
  - lev1ID = "about";
  - titleChild = "About";

block main
  article
    section
      h2 About
      p
        | TogoMedium is a database of microbial culture media, which is purely based on the Semantic Web technology.
      p
        | There are hundreds of microbial culture collections maintained by biological resource centers (BRCs) in the world and currently 787 culture collections are listed in the Culture Collections Information Worldwide (CCINFO) provided by World Data Centre for Microorganisms (WDCM). These culture collections are not only essential infrastructure as the basis of carrying out microbial research but also valuable rich information sources such as microbial physiological and phenotypic information, which are described in the accompanying metadata of each microorganism. So far, as our collaborative efforts with BioResource Research Center, Riken and Biological Resource Center, National Institute of Technology and Evaluation (NITE), metadata of their culture collections, henceforth JCM and NBRC, have been converted into RDF datasets. Both datasets are available at the NBDC RDF portal.
        br
        | Each metadata consists of the minimum data set description defined by the World Federation of Culture Collections (WFCC) Global Catalogue of Microorganisms (GCM), which includes one or more links to the Web documents that describe how to prepare growth media for the corresponding microorganism. Along with the development of the RDF above mentioned, we have also independently developed an RDF dataset focusing on a set of ingredients of microbial growth media whose recipes are provided by JCM and NBRC.
      p
        | Initially, we have developed RDF data of growth media provided by the JCM and NBRC, and then we also started to collect media recipes for microorganisms of which genome sequences are available and not included in both JCM and NBRC. As of October 2019, our database contains 1644 growth media (of which 649 are from NBRC, 843 from JCM, 152 by the manual collection from research papers and the Web). The database system was implemented using OpenLink Virtuoso triple store, SPARQList API and TogoStanza. One of the useful features of the RDF data is that all ingredients are described using the Growth Medium Ontology (GMO). Different BRCs or even single BRC sometimes use different naming for the same ingredients that hinders the integrated use of the growth media data. The new RDF will enable us to carry out integrated analyses such as an alignment of ingredients and design a similarity measure between growth media.
