extends ./_template/_base

block vars
  - lev1ID = "compare";
  - stanzaIDs = ["gmdb-media-alignment-table", "gmdb-media-strains-alignment-table"];
  - titleChild = "Compare media";

block main
  section
    h2 Compare media
    fieldset.id-input
      input#ids(type="text", placeholder="M2339,M328")
      input#compareBtn(type="button", value="compare")
      span#errorMsg.error-msg
    .stanza-wrapper
      togostanza-gmdb-media-alignment-table(gm_ids="", togostanza-menu-placement="none", style="display: none")
    .stanza-wrapper
      togostanza-gmdb-media-strains-alignment-table(gm_ids="", togostanza-menu-placement="none", style="display: none")
