extends ./_template/_base

block vars
  - stanzaIDs = ["gmdb-meta-list"];
  - titleChild = "All components";

block main
  section
    h2 List of components
    .stanza-wrapper
      togostanza-gmdb-meta-list#list(api_url=`${URL_API}list_components`, limit="20", title="", column_names="true", togostanza-menu-placement="none")
