extends ./_template/_base
block vars
  - stanzaIDs = ["gmdb-find-media-by-taxonomic-tree"];
  - titleChild = "Find media by taxonomic tree";

block main
  section
    h2 Find media by taxonomic tree
    .stanza-wrapper.fill-height
      togostanza-gmdb-find-media-by-taxonomic-tree#list
