extends ./_template/_base
block vars
  - stanzaIDs = ["gmdb-find-media-by-components"];
  - titleChild = "Find media by components";

block main
  section
    h2 Find media by components
    .stanza-wrapper.fill-height
      togostanza-gmdb-find-media-by-components#list
