extends ./_template/_base
block vars
  - lev1ID = "top";
  - stanzaIDs = ["gmdb-meta-list"];

block main
  section.instruction
    figure.logo
    h1 Culture media database aggregated from various resources.
    p TogoMedium is a comprehensive knowledge base focused on culture media for microorganisms. The media available in TogoMedium have been compiled from information provided by diverse bioresource centers and research papers. All information in TogoMedium is described as RDF and the composition of these media is described with Growth Medium Ontology. This enables users to investigate the interconnectedness between organisms, media, and their ingredients, facilitating a deeper understanding of their relationships.
    p.link-wrapper
      a(href="/about/") More about us &gt;

  section.stats
    //h2 On our database
    .container
      a(href="/medium/")
        include ./_include/svg/flask-potion-light.svg
        span
          span#numMedia &nbsp;
          span media
      a(href="/strain/")
        include ./_include/svg/media.svg
        span
          span#numStrains &nbsp;
          span strains
      a(href="/component/")
        include ./_include/svg/mortar-pestle-light.svg
        span
          span#numComponents &nbsp;
          span components

  section.tools
    h2 Find and compare media with various ways
    ul
      li: a(href="/find-media-by-components/") Find media by components
      li: a(href="/find-media-by-taxonomic-tree/") Find media by taxonomic tree
      li: a(href="/find-media-by-organism-phenotype/") Find media by organism phenotype
      //li: a(href="/find-media-by-relevance/") Find media by relevance
    ul
      li: a(href="/compare-media/") Compare media
      li: a(href="/compare-media-by-tax-ids/") Compare media of organisms

  section#freeSearch.free-search
    h2: span Find media, organisms and components
    input#queryInput(placeholder="search")
    #info
      p.info
        | Try searching with any IDs and keyword you are come up with.<br>
        | Terms should be separated by "," if multiple queries are requested.<br>
        | e.g. Glucose, GMO_001010, 315405
      .links
        h3 Query examples
        ul
          li: a(href="/?query=Glucose") Glucose
          li: a(href="/?query=M10") M10
          li: a(href="/?query=MRS Medium") MRS Medium
          li: a(href="/?query=Streptococcus gallolyticus") Streptococcus gallolyticus
    #stanzaWrapper.stanza-wrapper
