extends ./_template/_base

block vars
  - stanzaIDs = ["gmdb-medium-by-gmid", "gmdb-meta-list"];

block main
  section
    h2 Medium information
    .stanza-wrapper
      togostanza-gmdb-medium-by-gmid#info(gm_id="", togostanza-menu-placement="none")
    .stanza-wrapper
      togostanza-gmdb-meta-list#similar(api_url="", limit="10", title="", column_names="true", togostanza-menu-placement="none")
    .stanza-wrapper
      togostanza-gmdb-meta-list#organisms(api_url="", limit="10", title="", column_names="true", togostanza-menu-placement="none")
