extends ./_template/_base

block vars
  - stanzaIDs = ["gmdb-meta-list"];
  - titleChild = "All media";

block main
  section
    h2 List of media
    .stanza-wrapper
      togostanza-gmdb-meta-list#list(api_url=`${URL_API}list_media`, limit="20", title="", column_names="true", column-size="15,85", togostanza-menu-placement="none")
