extends ./_template/_base

block vars
  - stanzaIDs = ["gmdb-organism-by-taxid", "gmdb-phenotype-info", "gmdb-meta-list"];

block main
  section
    h2 Organism information
    .stanza-wrapper
      togostanza-gmdb-organism-by-taxid#info(tax_id="", togostanza-menu-placement="none")
    .stanza-wrapper
      togostanza-gmdb-phenotype-info#phenotype(tax_id="", togostanza-menu-placement="none")
    .stanza-wrapper
      togostanza-gmdb-meta-list#media(api_url="", limit="10", title="", column_names="true", togostanza-menu-placement="none")
