extends _template/_base

block vars
  - stanzaIDs = ["gmdb-taxon-by-taxid", "gmdb-meta-list"];

block main
  section
    h2 Taxon information
    .stanza-wrapper
      togostanza-gmdb-taxon-by-taxid#info(tax_id="", togostanza-menu-placement="none")
    .stanza-wrapper
      togostanza-gmdb-meta-list#media(api_url="", limit="10", title="", column_names="true", togostanza-menu-placement="none")
    .stanza-wrapper
      togostanza-gmdb-meta-list#organisms(api_url="", limit="10", title="", column_names="true", togostanza-menu-placement="none")
