body.api-doc {
  main {
    display: block;
    min-height: unset;
    padding: 46px 0 0;
  }

  *[data-v-app] {
    padding: 0;
  }

  .references-layout {
    height: calc(100vh - 70px) !important;
    min-height: unset !important;
    max-height: unset !important;
  }

  .references-navigation-list {
    top: 70px;
    height: calc(100vh - 70px) !important;
    min-height: unset !important;
    max-height: unset !important;
  }

  #dbcls-common-footer {
    display: none;
  }
}
