@use "sass:meta";
@use "sass:math";
@use "../_include/color";
@use "../_include/decoration";
@use "../_include/ease";
@use "../_include/media_query" as mq;
@use "../_include/path";
@use "../_include/typography";
@use "../_include/vw";
@use "../_include/geom";

$nav-gap: min(40px, 3vw);

header.global-header {
  .inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 45px;
    padding: 0 30px;
    background-color: #ffffff;
    border-bottom: 1px solid color.$gray-line;

    svg {
      @include geom.sq(16px);
    }

    a.logo {
      @include geom.rect(135px, 30px);
      @include path.bg-main("svg/logo.svg");
    }

    nav {
      display: flex;
      gap: $nav-gap;
      align-items: center;
    }

    ul {
      display: flex;
      gap: $nav-gap;
    }

    li {
      position: relative;
    }

    li > * {
      display: flex;
      gap: 10px;
      align-items: center;
      height: 45px;
      color: black;
      cursor: pointer;

      & > * {
        transition-timing-function: ease.$out-quart;
        transition-duration: 0.15s;
        transition-property: color, fill;
      }

      &:hover,
      &.active {
        & > * {
          color: color.$green;
          fill: color.$green;
        }
      }
    }

    input {
      padding: 5px 10px;
      border: 1px solid gray;
      border-radius: 4px;
    }
  }

  .sub {
    position: relative;

    ul {
      @include geom.abs;
      display: flex;
      flex-direction: column;
      gap: 16px;
      padding: 20px;
      clip-path: polygon(0 0, 100% 0%, 100% 0%, 0 0%);
      font-size: 14px;
      background-color: color.$white-pure;
      transition-timing-function: ease.$custom1;
      transition-duration: 0.4s;
      transition-property: clip-path;

      &.active {
        clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
        transition-duration: 0.6s;
      }
    }

    li {
      display: flex;
      gap: 8px;
      align-items: center;

      &::before {
        @include geom.sq(5px);
        display: block;
        margin-bottom: 2px;
        content: "";
        background-color: color.$gray-line;
        border-radius: 100%;
      }
    }

    a {
      transition-timing-function: ease.$out-quart;
      transition-duration: 0.15s;
      transition-property: color, fill;
    }

    a:hover {
      color: color.$green;
    }
  }
}
