@use "sass:meta";
@use "sass:math";
@use "../_include/color";
@use "../_include/decoration";
@use "../_include/ease";
@use "../_include/media_query" as mq;
@use "../_include/path";
@use "../_include/typography";
@use "../_include/vw";
@use "../_include/geom";

#dbcls-common-header nav.gnav {
  width: auto !important;
  margin: 0 30px !important;
}

body {
  @include typography.light;
  font-family: "Fira Sans Condensed", sans-serif;
  //color: v.$base-color;
  background-color: color.$gray-bg;
}

main {
  box-sizing: border-box;
  display: block;
  min-height: calc(100vh - (24px + 28px));
  padding: 80px 30px 30px;
  margin: 0 auto;
}

a {
  color: color.$black-text;
  text-decoration: none;
}

main section:first-child {
  margin-top: 0;
}

section {
  margin-top: 48px;
  margin-bottom: 24px;

  h2 {
    padding-left: 8px;
    margin-bottom: 8px;
    font-size: 30px;
    font-weight: 600;
    color: #333333;
  }
}

.stanza-wrapper {
  display: block;
  margin-bottom: 24px;

  & + .stanza-wrapper {
    margin-top: 48px;
  }
}
