@use "./vw";

@mixin abs($x: 0, $y: 0) {
  position: absolute;
  top: $y;
  left: $x;
}

@mixin fixed($x: 0, $y: 0) {
  position: fixed;
  top: $y;
  left: $x;
}

@mixin rect($w, $h) {
  width: $w;
  height: $h;
}
@mixin sq($v) {
  width: $v;
  height: $v;
}

@mixin fill-parent() {
  width: 100%;
  height: 100%;
}

@mixin min-height-svh($value: 100) {
  min-height: #{$value}vh;
  /* stylelint-disable-next-line */
  min-height: #{$value}svh;
}

@mixin min-height-lvh($value: 100) {
  min-height: #{$value}vh;
  /* stylelint-disable-next-line */
  min-height: #{$value}lvh;
}

@mixin min-height-dvh($value: 100) {
  min-height: #{$value}vh;
  /* stylelint-disable-next-line */
  min-height: #{$value}dvh;
}
